---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---
<BaseLayout title="World-building - Technical Deep Dive">
  <h1>Case Study World-building - Technical placeholder</h1>
</BaseLayout>