<nav>
  <a href="/en">Home</a>
  <a href="/en/about">About</a>
  <a href="/en/case-study-torino">Torino Case Study</a>
  <a href="/en/case-study-worldbuilding">World-building Case Study</a>
  <a href="/en/contact">Contact</a>
</nav>